#body{
    width: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    color: white;
}
#menu{
    width: absolute;
    height: 39px;
    background-color: #5B5F97;
    text-align: center;
    font-size: 25px;
    padding: 1px;
}
.heading{
	width: absolute;
	text-align: center;
	border-bottom: double 6px #C84630;
	margin-bottom: 5%;
}
#title{
    height: 20px;
    width: absolute;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #5B5F97;
    background-color: white;
}
.menulink{
    padding: 3px;
}
#learninglog{
	width:absolute;
}
.supercontainer{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	height:400px;
	align-items: center;
	background-color:#FAFAFA;
	border-bottom: 1px dashed black;
}
.Container{
	height: auto;
	/*margin-top:5%;
	margin-bottom: 5%;*/
	color: white;
    width: 30%;
    float: left;
    padding: 5px;
    border-radius: 20px;
    text-align: justify;
    background-color: #C84630;
	align-items: center;
	padding-right: 50px;
}
.Container h3{
	text-align: center;
}
#One{
	margin-left: 80px;
	float: left;
}
#Two{
	margin-right: 80px;
	float: right;
}
#Three{
	margin-left: 80px;
	float: left;
}
#Four{
	margin-right: 80px;
	float: right;
}
#Five{
	margin-left: 80px;
	float: left;
}
#Six{
	margin-right: 80px;
	float: right;
}
#Seven{
	margin-left: 80px;
	float: left;
}
#Eight{
	margin-right: 80px;
	float: right;
}
#Nine{
	margin-left: 80px;
	float: left;
}
#Ten{
	margin-right: 80px;
	float: right;
}
#Eleven{
	margin-left: 80px;
	float: left;
}
#Twelve{
	margin-right: 80px;
	float: right;
}
#FirstImage{
	width: 496px;
	height: 392px;
	float:right;
	border:3px solid #C84630;
	border-radius: 20px;
	margin-right: 80px;
}
#SecondImage{
	float:left;
	border:3px solid #C84630;
	border-radius: 20px;
	margin-left: 80px;
}
#ThirdImage{
	float: right;
	border: 3px solid #C84630;
	border-radius: 20px;
	margin-right: 80px;
}
#FourthImage{
	float:left;
	border:3px solid #C84630;
	border-radius: 20px;
	margin-left: 80px;
}
#FifthImage{
	float: right;
	border: 3px solid #C84630;
	border-radius: 20px;
	margin-right: 80px;
}
#SixthImage{
	float:left;
	border:3px solid #C84630;
	border-radius: 20px;
	margin-left: 80px;
}
#EighthImage{
	float:left;
	border:3px solid #C84630;
	border-radius: 20px;
	margin-left: 80px;
}
#EleventhImage{
	float: right;
	border: 3px solid #C84630;
	border-radius: 20px;
	margin-right: 80px;
}
#TwelfthImage{
	float:left;
	border:3px solid #C84630;
	border-radius: 20px;
	margin-left: 80px;
}
#Testcases{
	height: 500px;
}
table, th, td{
	color: white;
	border: 1px solid white;
	border-collapse:collapse;
}
td{
	padding: 5px;
}
#testcasetable{
	width: 50%;
	background-color: #C84630;
	padding: 10px;
	border-radius: 20px;
	float: left;
	margin-left:80px
}
#testcasetext{
	height: auto;
	color: white;
    width: 30%;
    float: right;
    padding: 15px;
    border-radius: 20px;
    text-align: left;
    background-color: #C84630;
	align-items: center;
	margin-right:80px
}
footer{
	width: absolute;
	margin-top: 5px;
	height:100px;
	background-color: #5B5F97;
}
#firstissue{
	height: 300px;
	border-bottom: 1px dashed black;
}
.issueparagraph{
	height: auto;
	/*margin-top:5%;
	margin-bottom: 5%;*/
	color: white;
    width: 50%;
    float: left;
    padding: 15px;
    border-radius: 20px;
    text-align: left;
    background-color: #C84630;
	align-items: center;
	float: left;
	margin-left: 80px;
}
#firstissueimage{
	float: right;
	border:3px solid #C84630;
	border-radius: 20px;
	margin-right: 80px;
}
#secondissue{
	margin-top: 20px;
	height: 300px;
	border-bottom: 1px dashed black;
}
#index1{
	height: auto;
	color: white;
    width: 30%;
    float: left;
	margin-left: 80px;
    padding: 5px;
	padding-right: 50px;
    border-radius: 20px;
    text-align: left;
    background-color: #C84630;
	align-items: center;
}
#index1images{
	height: auto;
}
#imgindex1{
	float: right;
	border: 3px solid #C84630;
	border-radius: 20px;
	margin: 20px;
	margin-right: 80px;
}
#imgindex2{
	float: left;
	border: 3px solid #C84630;
	border-radius: 20px;
	margin: 20px;
	margin-left: 80px;
}
#imgindex3{
	float: right;
	border: 3px solid #C84630;
	border-radius: 20px;
	margin: 20px;
	margin-right: 80px;
}
#imgindex4{
	float: left;
	border: 3px solid #C84630;
	border-radius: 20px;
	margin: 20px;
	margin-left: 80px;
}
#backend{
	height: 3200px;
}
#serverindex{
	height: 1600px;
}
#pymain{
	height: 1600px;
}
#main{
	height: auto;
	color: white;
    width: 30%;
    float: left;
	margin-left: 80px;
    padding: 5px;
	padding-right: 50px;
    border-radius: 20px;
    text-align: left;
    background-color: #C84630;
	align-items: center;
}
#img1main{
	float: right;
	border: 3px solid #C84630;
	border-radius: 20px;
	margin: 20px;
	margin-right: 80px;
}
#img2main{
	float: left;
	border: 3px solid #C84630;
	border-radius: 20px;
	margin: 20px;
	margin-left: 80px;
}
#data, #form{
	float: left;
	margin: 20px;
	margin-left:80px;
}
#app,#accuracyreport{
	float: right;
	margin: 20px;
	margin-right: 80px;
}
#ui{
	height: 750px;
}
#pseudoparagraph{
	float: left;
	text-align: justify;
	margin-left: 80px;
}
#pseudocodeforreg{
	float:right;
	text-align: left;
	width: 50%;
	background-color: #5B5F97;
	margin-right: 80px;
}
#pseudocode{
	height:1200px;
}
#pseudolist{
	margin-top: 20px;
	margin-left: 80px;
}
#jsonimage{
	float: left;
	border: 3px solid #C84630;
	border-radius: 20px;
	margin: 20px;
	margin-left: 80px;
	max-width: 50%;
	height: auto;
}
#csvimage{
	float: right;
	border: 3px solid #C84630;
	border-radius: 20px;
	margin: 20px;
	margin-right: 80px;
	max-width: 20%;
	height: auto;
}
#datatable{
	width: 50%;
	background-color: #C84630;
	padding: 10px;
	border-radius: 20px;
	margin-right: 25%;
	margin-left:25%;
}
#datacomparison{
	height:500px;
}