#body{
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    color: white;
}
#menu{
    width: absolute;
    height: 39px;
    background-color: #5B5F97;
    text-align: center;
    font-size: 25px;
    padding: 1px;
}
#title{
    width: absolute;
    height: 20px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: #5B5F97;
    background-color: white;
}
.menulink{
    padding: 3px;
}
.Container{
	height: auto;
	/*margin-top:5%;
	margin-bottom: 5%;*/
	color: white;
    width: 50%;
    float: left;
    padding: 15px;
    border-radius: 20px;
    text-align: justify;
    background-color: #C84630;
	align-items: center;
	margin: 50px;
	margin-left: 25%;
	margin-right: 25%;
}
#mainbodytext{
	height: 1500px;
}
footer{
	width: absolute;
	margin-top: 5px;
	height:100px;
	background-color: #5B5F97;
}