body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
}
#title{
	width: 100%;
	text-align: center;
	padding: 20px;
	background-color: #ffffff;
	font-size: 2em;
	border-bottom: dotted 2px #000;
}
a{
	text-decoration: none;
	color: #000;
}
.container{
	border: solid 2px #000;
}
#form{
	float: left;
	align-content: center;
}
#pichart{
	float: right;
	align-content: center;
}
#form label{
	margin-bottom: 10px;
}